/* body style */
body{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* grid style */
.content{
    max-width: 960px;                                       /*max width for div container*/
    margin: 0 auto;                                         /*pushing div to the center*/
    display: grid;                                          /*making div a grid*/
    grid-template-columns: repeat(3, 1fr);                  /*defines column number and width */
    /* reapeat as the word says it repeats (first value column number, second widht of column) */
}
.content div{
    background-color: #3bbced;
    padding: 30px;
}
.content div:nth-child(even){
    background-color: #777;
}